<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col">
            <h6><u>Reset Password</u></h6>
            <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}"></div>
            <form th:action="@{/new-password}" method="post">
                <input type="hidden" name="token" th:value="${param.token}"/>
                <div class="form-floating mb-3">
                    <input type="password" name="password" id="password" class="form-control" minlength="6" required/>
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" minlength="6" required/>
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="form-group d-grid gap-2">
                    <button type="submit" class="btn btn-sm btn-primary">Reset Password</button>
                </div>

                <div class="form-group mt-1">
                    <a class="text-dark" th:href="@{/login}"><u>Jump to login</u></a>
                </div>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>