<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col">
            <h6><u>Reset Link</u></h6>
            <div th:if="${param.success}" class="alert alert-info">
                Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                Failed! check the ID number and try again.
            </div>
            <form th:action="@{/reset-password}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" name="idNumber" id="idNumber" class="form-control" required/>
                    <label for="idNumber">ID Number</label>
                </div>
                <div class="form-group d-grid gap-2">
                    <button type="submit" class="btn btn-sm btn-primary">Send Link</button>
                </div>

                <div class="form-group mt-1">
                    <a class="text-dark" th:href="@{/login}"><u>Jump to login</u></a>
                </div>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>